<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.maker.use">

    <!--地图包、搜索包需要的基础权限-->
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--聊天权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".global.USEApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--高德地图SDK KTY-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d5b54758522cae0023c0081f10c0d31e"/>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/ImageTranslucentTheme"
            />
        <activity
            android:name=".ui.activity.IssueActivity"
            android:theme="@style/Transparent"
            />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/ImageTranslucentTheme"
            />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/ColorTranslucentTheme"/>
        <activity
            android:name=".ui.activity.MyUserDetailActivity"
            android:theme="@style/ImageTranslucentTheme"/>
        <activity
            android:name=".ui.activity.CommodityListActivity"
            android:theme="@style/ColorTranslucentTheme"/>
        <activity
            android:name=".ui.activity.CommodityDetailActivity"/>
        <activity
            android:name=".ui.activity.SearchActivity"
            android:theme="@style/ColorTranslucentTheme"/>

        <activity
            android:name=".ui.activity.ShowImageActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            />
        '
        <activity
            android:name=".ui.activity.AddCommodityActivity"
            android:theme="@style/ColorTranslucentTheme"/>

        <activity
            android:name=".ui.activity.CampusDynamicDetailActivity"
            android:theme="@style/ColorTranslucentTheme"/>

        <activity
            android:name=".ui.activity.OriginalityCrowdFundingDetailActivity"/>

        <activity
            android:name=".ui.activity.LoveCrowdFundingDetailActivity"/>

        <activity
            android:name=".ui.activity.ShopDetailActivity"
            android:theme="@style/ColorTranslucentTheme"
            />
        <activity
            android:name=".utils.map.LocationActivity"
            android:theme="@style/ColorTranslucentTheme"
            />

        <activity android:name=".ui.activity.EditActivity"
                  android:theme="@style/ColorTranslucentTheme"/>

        <activity android:name=".ui.activity.UserDetailActivity"
                  android:theme="@style/ImageTranslucentTheme"
            />


        <!--会话界面-->
        <activity
            android:name=".ui.activity.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Widget.AppCompat.ActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="com.maker.use"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong"/>
            </intent-filter>
        </activity>

        <!--Image Selector Entry-->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"/>

        <!--必选： SDK 核心功能-->
        <!--第三方相关,向第三方推送服务请求 token 的服务 -->
        <service
            android:name="io.rong.push.core.PushRegistrationService"
            android:exported="false">
        </service>

        <!-- 处理 push 消息相关的服务 -->
        <service
            android:name="io.rong.push.core.MessageHandleService"
            android:exported="true">
        </service>

        <!-- push服务 -->
        <service
            android:name="io.rong.push.PushService"
            android:exported="false"
            android:process="io.rong.push">  <!-- push进程，可以改名 -->
        </service>

        <!-- push 相关事件接收器 -->
        <receiver
            android:name="io.rong.push.PushReceiver"
            android:process="io.rong.push">   <!-- 此处进程可以改名，名称需要和PushService所在进程统一 -->
            <!-- 心跳事件 -->
            <intent-filter>
                <action android:name="io.rong.push.intent.action.HEART_BEAT"/>
            </intent-filter>
            <!-- 网络变动事件 -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- 部分用户事件 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".manager.receiver.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED"/>
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED"/>
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED"/>
            </intent-filter>
        </receiver>

        <!--必选： SDK 核心功能-->

        <!-- end -->

        <!-- imlib config begin -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="6tnym1brnmkc7"/>

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:exported="true"
            android:process=":ipc"/>

        <service
            android:name="io.rong.imlib.ReConnectService"
            android:exported="true"/>

        <receiver
            android:name="io.rong.imlib.ConnectChangeReceiver"
            android:exported="true"/>

        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc"/>
        <!-- imlib config end -->


        <!--start高德地图-->
        <service android:name="com.amap.api.location.APSService"/>

    </application>

</manifest>